
/* ----------------------------------------------------------------------
--- pour les cadres FILE
---------------------------------------------------------------------- */

div.htex-FILE {
	width: 95%;
	background-color : white;
	border: solid 1px blue;
	margin-left: auto;
	margin-right: auto;
	padding: 0px;
	}

div.htex-FILE > div.htex-TITLE {
	display: block;
	background-color : blue;
	color: white;
	padding: 2px 2px 2px 2px;
	}

div.htex-FILE > div.htex-CONTENT {
	padding: 3px 3px 3px 3px;
	}




.htex-ttt {
	background-color: #E0E0E0;
	padding-left: 3px;
	padding-right: 3px;
}



.htex-IMP {
	color : blue;
	font-weight: bold;
}


.htex-REM {
	color: #0A8AFA;
	font-weight: bold;
}

.htex-DANGER {
	color: red;
	font-weight: bold;
}





ul, ol, dl {
	margin-top : 0px;
	margin-bottom: 0px;
}

li, dt, dd {
	margin-top: 8px;
	margin-bottom: 8px;
}


div.clist > ul > li {
	margin-top: 0px;
	margin-bottom: 0px;
}

div.clist > ul {
	margin-top: 8px;
	margin-bottom: 8px;
}


td.htex-center {
	text-align : center;
}
