
/* ---------------------------------------------------------------------- */
/* Mise en forme de la page */
/* ---------------------------------------------------------------------- */

@page { size:21.0cm 14.85cm;
        margin-top:1.7cm;
        margin-bottom:1.4cm;
        margin-left:2cm;
        margin-right:2cm;
	marks:cross;
}

#content { margin: 0px; height: 100%; }
#banniere { visibility: hidden; }
#menu { visibility: hidden; }
#printable { visibility: hidden; }
#leftFrame { visibility: hidden; }
#header { visibility: hidden; }
#table-of-contents {
	position: absolute;
	width: 100%;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 100px;
	visibility: hidden;
	}




/* ---------------------------------------------------------------------- */
/* parties de la page                                                     */
/* ---------------------------------------------------------------------- */

/* ---------------------------------------------------------------------- */
/* definition de la zone "printable"                                      */
/* ---------------------------------------------------------------------- */


/* ---------------------------------------------------------------------- */
/* definition du menu                                                     */
/* ---------------------------------------------------------------------- */


/* ---------------------------------------------------------------------- */
/* mise en forme du contenu                                               */
/* ---------------------------------------------------------------------- */

h1 {
	padding: 5px;
	width: 80%;
	font-size: large;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	margin-top: 0px;
	border:	solid 2px black;
	color: black;
	}

fieldset {
	border: solid 1px blue;
	background: #deedff;
	}

legend {
	border: 	solid 1px #87CEFA;
	background:     #87CEFA;
	color:		blue;
	padding-left:	10px;
	padding-right:	10px;
	padding-top:	2px;
	padding-bottom:	2px;
	font-size:	medium;
	font-weight: 	bold;
	}

h2 {
	padding:	3px;
	font-size:	medium;
	width:		auto;
	margin-top:	20px;

	border-bottom: 	solid 1px black;
	background:     transparent;
	color:		black;
	}

h3 {
	border-bottom:		dashed 1px black;
	background:     	transparent;
	color:			black;
	padding:		2px;
	margin-left:		0px;
	margin-top:		20px;
	font-size:		medium;
	width:			auto;
	}

h4 {
	border: 		none;
	color:			black;
	padding-top:		2px;
	padding-bottom:		2px;
	padding-left:		10px;
	padding-right:		2px;
	margin-left: 		10px;
	margin-top:		20px;
	font-size:		medium;
	width:			auto;
	font-weight: 		normal;
	font-style: 		italic;
	}

.cadre {
	border:	dashed 1px black;
	padding: 5px;
	}

.quote {
	margin-left: 50px;
	margin-right: 50px;
	}

div.code, div.htex-java {
	color: black;
	padding: 5px;
	margin-left: 50px;
	margin-right: 50px;
	background: #bcdeff;
	margin-top : 7px;
	margin-bottom : 0px;
	border:	dashed 1px black;
	widows: 0;
	}

div.code pre, div.htex-java pre {
	margin-top : 0px;
	margin-bottom : 0px;
	}

div.image img {
	border:	solid 1px black;
	color: black;
	padding: 10px;
	margin-left: 50px;
	background: transparent;
	}

/* images sur fond blanc */

div.htex-image-blanche img {
	border:	solid 1px black;
	padding: 10px;
	background: white;
	}

div.htex-image-blanche {
	text-align: center;
	}

/* mise en forme des tableaux */

td,th {
	padding: 2px;
	text-align: center;
	border: 1px solid black;
	}

table {
	background: transparent;
	margin-top: 15px;
	margin-left: auto;
	margin-right: auto;
	border: solid 1px black;
	border-collapse: collapse;
	empty-cells: show;
	}


li {
	margin-top: 7px;
	}



.transparent {
	background: transparent;
	}




a {
	text-decoration: none;
	color: black;
	}


/* couleur de fond pour toutes pages */

body
	{
	background: white;
	margin: 0px;
	}

/* police et taille */

p,ul,dl,ol,td,dt,dd,li,th,h4,h2,h3,legend,div,span,body,center {
/*
	font-size: 0.89em;
	font-family: bitstream vera sans, sans-serif;
*/
	font-family: Arial, sans-serif;
	font-size: 10pt;
	}

p,ul,dl,ol,td,dt,dd,li,legend,div,span,body {
	text-align: justify;
	}

pre,tt {
	font-family:Courier, monospace;
	font-size: 10pt;
	}

dt { font-weight: bold; }

